{{ with .Site.Params.CommentoHostname }}
<div id="commento"></div>
<script type="text/javascript">
  (function() {
    // Don't ever inject Disqus on localhost--it creates unwanted
    // discussions from 'localhost:1313' on your Commanto account...
    if (window.location.hostname == "localhost")
      return;

    var dsq = document.createElement('script'); dsq.async = true; dsq.type = 'text/javascript';
    dsq.src = '//{{ . }}/js/commento.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the comments powered by Commento.</noscript>
{{ end }}
