@import url(/css/google-fonts.css);

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  font-family: 'Open Sans', 'sans-serif';
  font-size: 14px;
  margin-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  //margin-top: 3rem;
  width: 100%;
  text-align: left;
  //margin-top: 20px;
  padding-bottom: 1rem;
//  padding-top: 1rem;
}


body > .container {
  padding: 75px 15px 0;
}

.navbar-brand {
padding: 20px;
vertical-align: baseline;;
}

.navbar-brand-img {
    padding: 0px;
}
@media screen and (max-width: 768px) {
    a.navbar-brand-img>img {
      vertical-align: bottom;
      padding: 1em 0 0 15px;
      max-width: 80%;
    }
}

a.navbar-brand-img>img {
  vertical-align: bottom;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.margin-10{margin-bottom:10px; margin-right:10px;}

p {
  text-align: justify;
}

/* Responsive video? */
iframe {
  max-width: 100%;
}

/* Popover */
.modal.ng-enter {
  transition: opacity 1.5s ease-out;
  opacity: 0;
}
.modal.ng-enter.ng-enter-active {
  opacity: 1;
}
.modal.ng-leave {
  transition: opacity 1.5s ease-out;
  opacity: 1;
}
.modal.ng-leave.ng-leave-active {
  opacity: 0;
}

#Email.fieldValid {
  border: 1px solid #00ff00;
}
#Email.fieldInvalid {
  border: 1px solid #ff0000;
}  
code.has-jax {
  font: inherit;
  font-size: 100%;
  background: inherit;
  border: inherit;
  }


.share-box a{
    padding: 0 0 0 5px;
}

.fa-facebook-official { color: #3b5998; }

.fa-google-plus { color: #d34836; }

.fa-linkedin { color: #0077b5; }

.fa-envelop { color: #444444; }

.fa-reddit { color: #ff5700; }

.fa-twitter { color: #4099FF; }
