{{ partial "head" . }}
<div class="container">
  <div class="row">
    <div class="col-sm-{{ if and (isset .Site.Params "showRightSidebar") (eq .Site.Params.showRightSidebar true) }}9{{ else }}12{{ end }}">
      {{ .Render "single.hat" }}
      {{ .Render "single.content" }}
      {{ .Render "single.boot" }}
    </div>
    {{ if and (isset .Site.Params "showRightSidebar") (eq .Site.Params.showRightSidebar true)}}
      <div class="col-sm-3">
        {{ partial "bloc/content/sidebar" .}}
      </div>
    {{ end }}
  </div>
</div>
{{ partial "foot" . }}
