
<span class="share-box">Share this on:
    <a href="https://www.facebook.com/sharer/sharer.php?u={{.Permalink | absURL }}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i class="fa fa-facebook-official "></i></a>

    <a href="https://twitter.com/intent/tweet?text={{ .Params.title }}&amp;url={{ .Permalink| absURL  }}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i class="fa fa-twitter"></i></a>

    <a href="https://plus.google.com/share?url={{ .Permalink| absURL  }}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i class="fa fa-google-plus"></i></a>

    <a href="http://www.reddit.com/submit?url={{ .Permalink| absURL  }}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"><i class="fa fa-reddit"></i></a>

    <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink| absURL  }}&amp;title={{ .Params.title }}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i class="fa fa-linkedin"></i></a>

    <a href="mailto:?subject={{ .Params.title }}&amp;body=Check out this site {{ .Permalink| absURL  }}" data-proofer-ignore=""><i class="fa fa-envelope"></i></a>
  </span>
