<div>
    {{ if and .IsPage (eq .Params.toc true) }}
    <div class="section">
        <header><div class="title">Table Of Contents</div></header>
        <div class="list-default">{{ .TableOfContents }}</div>
    </div>
    {{ end }}

    <section class="panel panel-default">
        <div class="panel-heading">
            <b>Latest post</b>
            <div style="float: right"><a href="{{ "/post/" | relLangURL }}">- full list -</a></div>
        </div>

        <div class="panel-body">
            <ul>
                {{ range first 10 (where (where .Site.Pages "Type" "post") "IsPage" true) }}
                <li>
                    <a href="{{ .Permalink }}">{{ partial "modules/page/title.html" . }}</a>
                </li>
                {{ end }}
            </ul>
        </div>

    </section>

    <section class="panel panel-default">
        <div class="panel-heading">
            <b>Tags</b>
            <div style="float: right"><a href="{{ "/tags/" | relLangURL }}">- full list -</a></div>
        </div>

        {{ partial "modules/site/tag-cloud.html" . }}
    </section>

</div>
