<div>
    {{ if and .IsPage (eq .Params.toc true) }}
    <div class="section">
        <header><div class="title">Table Of Contents</div></header>
        <div class="list-default">{{ .TableOfContents }}</div>
    </div>
    {{ end }}

    <section class="panel panel-default">
        <div class="panel-heading">
            <b>Latest post</b>
            <div style="float: right"><a href="{{ "/post/" | relLangURL }}">- full list -</a></div>
        </div>

        <div class="panel-body">
            {{ partial "bloc/section/post-latest.html" . }}
        </div>

    </section>

    <section class="panel panel-default">
        <div class="panel-heading">
            <b>Tags</b>
            <div style="float: right"><a href="{{ "/tags/" | relLangURL }}">- full list -</a></div>
        </div>

        {{ partial "modules/site/tag-cloud.html" . }}
    </section>

</div>
