<div class="modal">
  <div class="modal-dialog modal-{{modalSize}}">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="cancel()">&times;</button>
        <h3 class="modal-title">{{ signupheader}}</h3>
      </div>

      <div class="modal-body">
        <img data-ng-src="{{headerimage}}" alt="{{imgdescription}}" class="img-responsive" data-ng-if="headerimage">
        <p>{{signuptext}}</p>
        <form name="formNg">
          <input class="col-xs-12" type="email" data-ng-class="myForm.getFormFieldCssClass(formNg.email)" id="Email" name="email" data-ng-model="myForm.Email" data-ng-required="true" data-ng-minlength="5" placeholder="{{inputplaceholder}}">
        </form><br>
        <div>
          <p data-ng-if="SuccessMessage" class="text-success">{{SuccessMessage}}</p>
          <p data-ng-if="ErrorMessage" class="text-warning">{{ErrorMessage}}</p>
        </div>
      </div>

      <div class="modal-footer" data-ng-if="!isPhone">
        <button class="btn btn-primary btn-block" type="button" data-ng-click="ok()" > {{submitbutton}} </button>
        <button class="btn btn-warning btn-block" type="button" data-ng-click="cancel()"> Cancel </button>
      </div>

      <div class="modal-footer" data-ng-if="isPhone">
        <button class="btn-lg btn-primary btn-block" type="button" data-ng-click="ok()" > {{submitbutton}} </button>
        <button class="btn-lg btn-warning btn-block" type="button" data-ng-click="cancel()"> Cancel </button>
      </div>

    </div>
  </div>
</div>
