{{ "<!--[if lt IE 9]>" | safeHTML }}
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
{{ "<![endif]-->" | safeHTML }}

<!-- selection of themed bootstrap css to load-->
{{ if isset .Site.Params "theme" }}
    <link rel="stylesheet" href="{{ "css/bootswatch/" | absURL }}{{ .Site.Params.theme.name }}{{ "/bootstrap.min.css" }}">
{{ else}}
    <link rel="stylesheet" href="{{ "css/bootswatch/default/bootstrap.min.css" | absURL }}">
{{ end }}

<link rel="stylesheet" href="{{ "css/font-awesome.min.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/style.css" | absURL }}">

{{ range .Site.Params.customCSS }}
<link rel="stylesheet" href="{{ . | absURL}}">
{{ end }}

{{ if isset .Site.Params "highlight" }}
  <link rel="stylesheet" href="{{ "css/highlight/" | absURL }}{{ .Site.Params.highlight }}.css">
{{ else }}
  <link rel="stylesheet" href="{{ "css/highlight/" | absURL }}default.css">
{{ end }}
